ol{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:cornflowerblue;
}
ul{
    font-size: 18px;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color:rgb(250, 211, 217);
}
h2{
    color:rgb(67, 124, 174)
}


